html{
    font-size: 62.5%;
}
body{
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
}
.navegador{
    display: flex;
    justify-content: space-between;   
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(44, 44, 44, 0.19);
}
h1{
    color: rgb(68, 68, 68);
    margin: 1rem;
    font-size:  2rem;
}
img.acc{
    width: 12rem;
}
h2.titulo{
    text-align: center;
    font-size: 3rem;
    color: rgb(68, 68, 68);
}
img.autos{
    width: 15rem;
}
h3{ 
    font-size: 3rem;
    color: rgb(248, 248, 248);
    font-size: 1.8rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
.datos{
    display: flex;
    justify-content: space-between;
}
.juntos{
    background-color: #3d3d3d;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 15px;
   text-align:  center;
   box-shadow: 0px 35px 50px rgba(34, 24, 85, 0.2);
   
}
.tablas{
    display: flex;
    justify-content: space-between;   
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.432), 0 6px 20px 0 rgba(44, 44, 44, 0.19);
}


th, td {
    border-bottom: 1px solid #ddd;
  }


  *{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(44, 44, 44);
    padding: 30px 0;
}

/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba(34, 24, 85, 0.2);
   
}
.margen{
    padding-bottom: 3rem;
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;

    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid rgb(32, 32, 32);
  
}

.fl-table thead th {
    color: #ffffff;
    background: #3d3d3d;
}
a{
    padding-left: 25px;
    padding-right: 25px;
    background-color:  #3d3d3d;;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 15px;
}
.leyenda{
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(44, 44, 44);
    padding: 30px 0;
}
/* Responsive */

@media (max-width: 767px) {
    
        .table-wrapper{
            margin: auto;
        
    }
    .datos{
        display: table-row;
        justify-content: space-between;
    }
    
}