html{
    font-size: 62.5%;
    color-scheme: light;
}
body{
    font-size: 2rem;
    font-family: 'Lato', sans-serif
}
h1{
    text-align: center;
    font-size: 3.8rem;
  }
  img{
      width: 15rem;
  }
.contenedor{
    max-width: 120rem;
    margin: 0 auto ;
}
.nav-bg{
    background:rgb(255, 255, 255);
}
.navegation-principal {
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px){
    .navegation-principal {
        flex-direction: row;
        justify-content: space-between;   
    }  
}
.navegation-principal a{
    display: block;
    text-align: center;
    color:#000;
    text-decoration: none; 
    font-size: 2rem;
    font-weight: 700;
    padding: 1.5rem; 
}       
.navegation-principal a:hover{
    background: rgb(26, 26, 26);
    color: #fff;
    display: block;
    padding: 1.5rem;
    transition: all 0.2s linear;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(8, 0, 77, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.foto{
    background-image:url(../img/acc.jpeg);
    width: 100%;
    height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.contenedor-hero{
    position:absolute;
    background-color: rgba(5, 0, 34, 0.4);
    height: 100%;
    width: 100%;
    color:#fff;
    text-align: center;
}
.contenedor-hero .Acc{
    margin-top: 15%;
    font-size: 4rem;   
}
.contenedor-hero .filiales{
    margin-top: 9%;
    font-size: 2rem;   
}
.contenedor-hero a{
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-decoration: none;     
    border-radius: 16px;
    margin-top: 10px;
}
h2{
    padding-top: 3rem;
    text-align: center;
} 
p{
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}
.sucrusales{
    display: block;
}
.queretaro{
    background: rgb(146, 146, 146);
     padding-bottom: 3rem;
     padding-top: 3rem;
}




div.divisor {
    width: 75%;
    margin: auto;
    color: rgb(0, 0, 0);
    padding: 10px;  
    padding-bottom: 120px;
}
.imgcelaya {
    float: left;
    width: 30rem; 
    margin-right: 5rem;
    border-radius: 5px;  
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 10%;
  }

iframe{
    margin-left: 10%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    
}
p.queretaro{
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    color: #fff;
}



/*-----
*/