html{
    font-size: 62.5%;
}
body{
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
}
h1{
    text-align: center;
    font-size: 3.8rem;
  }
  img{
      width: 15rem;
  }
.contenedor{
    max-width: 120rem;
    margin: 0 auto ;
}
.nav-bg{
    background:rgb(255, 255, 255);
}
.navegation-principal {
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px){
    .navegation-principal {
        flex-direction: row;
        justify-content: space-between;   
    }  
}
.navegation-principal a{
    display: block;
    text-align: center;
    color:#000;
    text-decoration: none; 
    font-size: 2rem;
    font-weight: 700;
    padding: 1.5rem; 
}       
.navegation-principal a:hover{
    background: rgb(26, 26, 26);
    color: #fff;
    display: block;
    padding: 1.5rem;
    transition: all 0.2s linear;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(8, 0, 77, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.foto{
    background-image:url(../img/acc.jpeg);
    width: 100%;
    height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.contenedor-hero{
    position:absolute;
    background-color: rgba(5, 0, 34, 0.4);
    height: 100%;
    width: 100%;
    color:#fff;
    text-align: center;
}
.contenedor-hero .Acc{
    margin-top: 15%;
    font-size: 4rem;   
}
.contenedor-hero .filiales{
    margin-top: 9%;
    font-size: 2rem;   
}
.contenedor-hero a{
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    margin-top: 10px;
}
section.arrendamiento{
    background-color: rgba(255, 255, 255, 0.719);
    width: 100%;
    margin-top: 15rem;
    margin-bottom: 15rem;
}
section.arrendamiento h2{
   text-align: center;
}
div.seccion1 {
    width: 75%;
    margin: auto;
    color: rgb(0, 0, 0);
    padding: 15px;  
  }
  div.seccion1 img.izquierda {
    float:left;
    width: 40rem; 
    margin-right: 5rem;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(8, 0, 77, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  div.seccion2 img.derecha {
    float: right;
    width: 40rem; 
    margin-left: 5rem;
    border-radius: 5px;  
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19); 
  }
  aside{
    text-align: justify;
  }
  div.reset {
    clear: both;
  }
  div.seccion2 {
    width: 75%;
    margin: auto;
    color: rgb(255, 255, 255);
    padding: 15px;  
    padding-bottom: 120px;
  }
  section.cont{
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.849);    
}
section.Que_es h2{
    padding-top: 90px;
    text-align: center;
    margin-top: 15rem;
 }
 div.reset {
    clear: both;
  }
  section.cont_bl{
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.849);
  }
  div.seccion3 {
    width: 75%;
    margin: auto;
    color: rgb(0, 0, 0);
    padding: 10px;  
    padding-bottom: 120px;
  }
  div.seccion3 img.izquierda {
    float: left;
    width: 30rem; 
    margin-right: 5rem;
    border-radius: 5px;  
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  section.cont_bl .lista{
      Color: red;
      font-size: 2.54rem;
  }
  div.reset {
    clear: both;
  }
    section.cont_lb{  
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.849);  
  }
  div.seccion4 {
    width: 75%;
    margin: auto;
    color: rgb(255, 255, 255);
    padding: 10px;  
    padding-bottom: 120px;
  }
  div.seccion4 img.derecha {
    float: right;
    width: 30rem; 
    margin-left: 5rem;
    border-radius: 5px;  
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  }
  section.cont_lb .lista{
      Color: rgb(208, 255, 0);
      font-size: 2.54rem;
  }
  div.reset {
    clear: both;
  }
  div.locales{
		border-radius: 5px;
	}
	.locales{
		width:100%;
		height:auto;
    display: flex;
    flex-direction: column;
	}
  .color{
    margin: 15px;
    height:auto;
    border-radius: 8px;
		float:left;
		text-align: center;
    background:  rgba(68, 68, 68, 0.596);
    border-style: inset;
    border-color: rgb(208, 255, 0);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
  @media (min-width: 768px){
    .locales{
     
      flex-direction: row;
      justify-content: space-around;  
    }
    .color{
      width: 33%;
      height: auto;
    }
}
  .locales{
    text-decoration: none;
  }
  div.locales{
    list-style: none;
  }
  h2.sucursal{
    text-align:center;
    color: rgb(208, 255, 0);
  }
  .sucursal{
    text-align: justify;
  }
  .datos{
    font-size: 1rem;
    text-decoration: none;
    list-style: none;
  }
  .priv{
		width: 98%;
		height:auto;
    padding: 10px;
    display:flex;
    background:  #000000d0 ;
    justify-content: space-around;   
	}
	.privacidad{
		height:auto;
    border-radius: 8px;
		width:25%;
		float:left;
		text-align: center;
   text-decoration: none;
    color: white;
  }
  .privacidad:hover{
    color: #000;
    background-color: #fff;
  }
