/* resets */
body { margin:0px; padding:0px; }

/* main */
header {
    height: 460px;
    z-index: 10;
}
.header-banner {
    background-color: #333333;
    background-image: url('img/ITOC.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:700px;
}

header h1 {
    background-color: rgba(18,72,120, 0.8);
    color: #fff;
    padding: 0 1rem;
    position: absolute;
    top: 2rem; 
    left: 2rem;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
}

nav {
    width: 100%;
    height: 60px;
    background: #235996;
    postion: fixed;
    z-index: 10;
}

nav div {
    color: white;
    font-size: 2rem;
    line-height: 60px;
    position: absolute;
    top: 0;
    left: 2%;
    visibility: hidden;
}
.visible-title {
    visibility: visible;
}

nav ul { 
    list-style-type: none;
    margin: 0 2% auto 0;
    padding-left: 0;
    text-align: right;
    max-width: 100%;
}
nav ul li { 
    display: inline-block; 
    line-height: 60px;
    margin-left: 10px;
}
nav ul li a {
    text-decoration: none; 
    color: #f8f8f8;
}

/* demo content */
@media only screen and (max-width: 960px) {
    .content{ 
        padding: 2rem 0;
    }
    article {
        float: none;
        margin: 0 auto;
        width: 96%;
    }
    article:last-of-type {  
        margin-bottom: 3rem;
    }
    aside {  
        float: none;
        text-align: center;
        width: 100%;
    }
}



/*** Practica**/
.ContenidoPHP{ 
    margin: 0 auto;
    padding-top: 30rem;
    width: 960px;
    max-width: 100%;
    text-align: center;
}

.Caja{
  width: auto;
  height: 750PX;
  
  border: 7px solid rgb(40, 184, 228);
  
  padding: 10px 20px;
  
  margin: 10px 5px 3px 3px;
}

.ContenidoPHP h2{
    color: rgb(0, 50, 78);
    text-align: center;
    font-size: 14px ;

}
.ContenidoJS{ 
    margin: 0 auto;
    padding: 5rem 0;
    width: 960px;
    max-width: 100%;
    text-align: center;
}
.CajaJS{
  width: auto;
  height: auto;
  
  border: 7px solid rgb(255, 115, 0);
  
  padding: 10px 20px;
  
  margin: 10px 5px 3px 3px;
}
.ContenidoPHP h2{
    color: rgb(0, 50, 78);
    text-align: center;
    font-size: 14px ;

}
.ContenidoMapa{ 
    margin: 0 auto;
    padding: 5rem 0;
    width: 960px;
    max-width: 100%;
    text-align: center;
}
.cajaMapa{
  width: auto;
  height: auto;
  
  border: 7px solid rgb(27, 27, 25);
  
  padding: 10px 20px;
  
  margin: 10px 5px 3px 3px;
}


#calculadora {
  width: 340px;
  height: 600px;
  background-color: #eaedef;
  margin: 0 auto;
  top: 20px;
  border-radius: 70px;
  position: relative;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#title {
  text-align: center;
  padding-top: 10px;
}

#resultado {
  height: 120px;
}

.vsaida {
  text-align: right;
  background-color: rgb(243, 245, 229);
  border-radius: 15px;
  height: 60px;
  width: 275px;
  margin: 10px 20px;
  font-size: 30px;
  outline: none;
  border: none;
}

.teclado {
  height: 400px;
}

.botaoAux,
.numero,
.limpar,
.divisao,
.soma,
.multiplicacao,
.subtracao,
.igual {
  height: 50px;
  width: 50px;
  margin: 15px;
  float: left;
  border-radius: 50%;
  border-width: 0;
  font-weight: bold;
  font-size: 15px;
}

.divisao {
  font-size: 20px;
  background-color: #70d6ff;
}

.soma {
  font-size: 20px;
  background-color: #ffd670;
}

.multiplicacao {
  font-size: 20px;
  background-color: #ff70a6;
}

.subtracao {
  font-size: 20px;
  background-color: #ff9770;
}

.igual {
  font-size: 20px;
  background-color: #e9ff70;
}

.numero {
  background-color: #eaedef;
}

.numero,
.botaoAux,
.limpar,
.divisao,
.soma,
.multiplicacao,
.igual,
.subtracao {
  cursor: pointer;
}

.botaoAux:active,
.numero:active,
.limpar:active,
.divisao:active,
.soma:active,
.multiplicacao:active,
.subtracao:active,
.igual:active {
  font-size: 13px;
}

.botaoAux:focus,
.numero:focus,
.vazio:focus,
.limpar:focus,
.divisao:focus,
.soma:focus,
.multiplicacao:focus,
.subtracao:focus,
.igual:focus {
  outline: 0;
}