html{
    font-size: 62.5%;
}
body{
    font-size: 2rem;
    font-family: 'Lato', sans-serif
}
body{
    /*background: rgb(1, 71, 80);*/
    background-image: url(../img/1.jpg);
    width: 100%;
    height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    
}
.login{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    background: #ffffff;
    height: 53rem;
    width: 45rem;
    border-radius: 15px;
}


h1{
    font-size: 2rem;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-bottom: 8%;
}
h2{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}
.formulario {
    margin: 5%;
    text-align: end;
}

.txt{
    border-radius: 8px;
    width: 22rem;
}
.btn{
    width: 30rem;
    background-color: #000ba3;
    text-decoration: none;
    color: #ffffff;
    padding: .4rem;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 8px;
}
.opciones{
    text-align:end;
    height: 3rem;
    margin-right: 15px;
}
.btn2{
    width: 30rem;
    text-decoration: none;
    color: #000ba3;
    padding: .4rem;
    padding-left: 10%;
    border-radius: 8px;
    font-size: 15px;
}
.img{
    padding-top: 15%;
    width: 15rem;
    height: auto;
    align-items: center;
    margin-left: 35%;
}
@media (max-width: 768px){
    .login{
        background: #ffffff;
        height: 58rem;
        width: 30rem;
        top:-60px;
        left:0;
        right:0;
        bottom:30px;
        margin: auto;
    }  
    .img{
        padding-top: 15%;
        width: 10rem;
        height: auto;
        align-items: center;
        margin-left: 35%;
    }
    
}